<Alloy>	
	<View id="menu">
		<View class="menubanner"></View>
		<TableView class="menuoptions" onClick="menuClick">
			<TableViewRow class="menurowcontainer" rowId="1">
				<View class="menurow">
					<View class="iconcontainer">
						<ImageView class="icon" image="/ic_action_not_important.png"/>
					</View>
					<Label class="menucaption">Pace classification</Label>
				</View>
			</TableViewRow>
			<TableViewRow class="menurowcontainer" rowId="2" selectedBackgroundColor="white">
				<View class="menurow">
					<View class="iconcontainer">
						<ImageView class="icon" image="/ic_action_not_important.png"/>
					</View>
					<Label class="menucaption">About</Label>
				</View>
			</TableViewRow>
		</TableView>
	</View>
	
</Alloy>